.formContainer {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 1px solid rgb(128, 128, 128);
}

.formContainer__header {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid gainsboro;

}

.form {
    display: grid;
    grid-template-columns: 1fr 150px;
    margin: 10px;
    padding: 10px;
}

.newTaskInput {
    padding: 5px;
    margin-right: 10px;
}

.addTaskButton {
    padding: 7px;
    background-color: teal;
    color: white;
    border-style: hidden;
}

@media (max-width: 767px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
    }

    .newTaskInput {
        margin: 5px;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
    }

    .addTaskButton {
        margin: 5px;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
    }
}